// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
turbo-frame {
  display: block;
  border: 2px solid green
}
